.custom-button {
  color: #fff;
  background: #f84464;
}

.seat-count {
  height: 40px;
  border: 2px solid #eee;
  border-radius: 6px;
  font-size: 14px;
  width: 100px;
  text-align: center;
}

.title {
  text-align: center;
}

.seat-count-div {
  text-align: center;
  margin-bottom: 25px;
}