<div class="show-container">
    <mat-card>
        <img mat-card-image src="../../assets/images/image-1.avif">
        <mat-card-actions>
            <button mat-flat-button color="accent" (click)="selectSeats()">Book Tickets</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <img mat-card-image src="../../assets/images/image-2.avif">
        <mat-card-actions>
            <button mat-flat-button color="accent" (click)="selectSeats()">Book Tickets</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <img mat-card-image src="../../assets/images/image-3.avif">
        <mat-card-actions>
            <button mat-flat-button color="accent" (click)="selectSeats()">Book Tickets</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <img mat-card-image src="../../assets/images/image-4.avif">
        <mat-card-actions>
            <button mat-flat-button color="accent" (click)="selectSeats()">Book Tickets</button>
        </mat-card-actions>
    </mat-card>
</div>