.show-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

img {
    height: 400px;
}

.mat-card-actions {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    text-align: center;
}